<div class="parentdiv border mt-2">

  <a href="/deletenote/{{_id}}">
    <button data-id="{{_id}}" type="button" id="deletenote" name="button" class="btn btn-warning float-right mt-3 mr-5">Delete Note</button>
  </a>

  <ul>

    <h5 class="mt-3">
      {{title}}
    </h5>

    <li class="ml-4">
      {{body}}
    </li>

  </ul>

</div>
